body {
    text-align: center;
    background-color: antiquewhite;
}

h1 {
    margin: 5px;
}

#container {
    height: 960px;
    width: 960px;
    background-color: black;
    margin: 10px auto;
    display: flex;
    gap: 2px;
    color: red;
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1;
    gap: 2px;

}

.square {
    background-color: gray;
    flex: 1;
}